<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1><%= @list.title %></h1>
    </div>
  </div>
  <div class="row title-row">
    <div class="col-sm-5 well">
      <h3>Tier list ranking</h3>
      <p>10 = S-Tier</p>
      <p>9 = A-Tier</p>
      <p>8-7 = B-Tier</p>
      <p>6-5 = C-Tier</p>
      <p>4-3 = D-Tier</p>
      <p>3-0 = F-Tier</p>
    </div>
    <div class="col-sm-6 col-sm-offset-1 well">
      <h3>Create a new item</h3>
      <%= bootstrap_form_for([@list, @item]) do |f| %>
        <%= f.text_field :title %>
        <%= f.submit "Create a Item!" %>
      <% end %>
    </div>
  </div>
  <div class="row tier-row">
    <div class="s-tier col-sm-12">
      <h1>S-tier</h1>
      <% if @items[:s].length > 0 %>
        <table class="table">
          <tbody>
            <% @items[:s].each do |item| %>
            <tr>
              <td><%= item.title %></td>
              <%= bootstrap_form_for(@vote) do |f| %>
              <td><%= f.number_field :amount, :min => 0, :max => 10 %></td>
              <%= f.hidden_field :item_id, :value => item.id %>
              <td><%= f.submit "Submit Vote!" %></td>
              <% end %>
              <td></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <div class="a-tier col-sm-12">
      <h1>A-tier</h1>
      <% if @items[:a].length > 0 %>
        <table class="table">
          <tbody>
            <% @items[:a].each do |item| %>
            <tr>
              <td><%= item.title %></td>
              <%= bootstrap_form_for(@vote) do |f| %>
              <td><%= f.number_field :amount, :min => 0, :max => 10 %></td>
              <%= f.hidden_field :item_id, :value => item.id %>
              <td><%= f.submit "Submit Vote!" %></td>
              <% end %>
              <td></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <div class="b-tier col-sm-12">
      <h1>B-tier</h1>
      <% if @items[:b].length > 0 %>
        <table class="table">
          <tbody>
            <% @items[:b].each do |item| %>
            <tr>
              <td><%= item.title %></td>
              <%= bootstrap_form_for(@vote) do |f| %>
              <td><%= f.number_field :amount, :min => 0, :max => 10 %></td>
              <%= f.hidden_field :item_id, :value => item.id %>
              <td><%= f.submit "Submit Vote!" %></td>
              <% end %>
              <td></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <div class="c-tier col-sm-12">
      <h1>C-tier</h1>
      <% if @items[:c].length > 0 %>
        <table class="table">
          <tbody>
            <% @items[:c].each do |item| %>
            <tr>
              <td><%= item.title %></td>
              <%= bootstrap_form_for(@vote) do |f| %>
              <td><%= f.number_field :amount, :min => 0, :max => 10 %></td>
              <%= f.hidden_field :item_id, :value => item.id %>
              <td><%= f.submit "Submit Vote!" %></td>
              <% end %>
              <td></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <div class="d-tier col-sm-12">
      <h1>D-tier</h1>
      <% if @items[:d].length > 0 %>
        <table class="table">
          <tbody>
            <% @items[:d].each do |item| %>
            <tr>
              <td><%= item.title %></td>
              <%= bootstrap_form_for(@vote) do |f| %>
              <td><%= f.number_field :amount, :min => 0, :max => 10 %></td>
              <%= f.hidden_field :item_id, :value => item.id %>
              <td><%= f.submit "Submit Vote!" %></td>
              <% end %>
              <td></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <div class="f-tier col-sm-12">
      <h1>F-tier</h1>
      <% if @items[:f].length > 0 %>
        <table class="table">
          <tbody>
            <% @items[:f].each do |item| %>
            <tr>
              <td><%= item.title %></td>
              <%= bootstrap_form_for(@vote) do |f| %>
              <td><%= f.number_field :amount, :min => 0, :max => 10 %></td>
              <%= f.hidden_field :item_id, :value => item.id %>
              <td><%= f.submit "Submit Vote!" %></td>
              <% end %>
              <td></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>

  </div>
</div>
